{% include 'base.html.twig' %}

<nav class="">
    <div class="">
        <a><img href=""> <img src="{{ asset('banner-logo.jpg') }}" alt="twitter"> </a>    
    </div>
    <div>
        <ul>
            <li><a href="{{ path('app_home') }}">A propos</a></li>
            <li><a href="{{ path('app_home') }}">Services</a></li>
            <li><a href="{{ path('app_home') }}">Prix</a></li>
        </ul>
        <a href="{{ path('app_home') }}">Se connecter</a>
    </div>
</nav>