{% include 'base.html.twig' %}

<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}">
            <img src="{{ asset('banner-logo.png') }}" alt="ParentWatcher Logo" style="height: 70px;">
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav me-4">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_home') }}#about">A propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_home') }}#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_home') }}#pricing">Prix</a>
                </li>
            </ul>
            <a class="btn rounded-pill button-green" href="{{ path('app_login') }}">Se connecter</a>
        </div>
    </div>
</nav>