
{% include 'header/header.html.twig' %}

<section class="">
    <div>
        <h2>Salut, Je suis ParentWatcher.<br>On aide à gerer les apps de vos  enfants </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet amet tristique ipsum aliquam. Vulputate dolor, nunc phasellus vestibulum turpis posuere turpis eget vel.</p>
        <a>Crée un compte</a>
    </div>
    <div>
        <img src="{{ asset('home_image.png') }}" alt="home image">  
    </div>
</section>

<section class="">
    <h2 class="text-center">Services</h2>
    <div>
        <div class="">
            <h5>Instagram</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet amet tristique ipsum aliquam. Vulputate dolor, nunc phasellus vestibulum turpis posuere turpis eget vel.</p>
        </div>
        <div class="">
            <h5>Reddit</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet amet tristique ipsum aliquam. Vulputate dolor, nunc phasellus vestibulum turpis posuere turpis eget vel.</p>
        </div>

        <div class="">
            <h5>Facebook</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet amet tristique ipsum aliquam. Vulputate dolor, nunc phasellus vestibulum turpis posuere turpis eget vel.</p>
        </div>
        <div class="">
            <h5>Twitter </h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet amet tristique ipsum aliquam. Vulputate dolor, nunc phasellus vestibulum turpis posuere turpis eget vel.</p>
        </div>
    </div>
</section>

<section class="">
    <h2>Nos tarifs & solutions</h2>
    <div>
        <img src="{{ asset('home_image.png') }}" alt="xxxxxx">  
        <img src="{{ asset('home_image.png') }}" alt="xxxxxx">  
        <img src="{{ asset('home_image.png') }}" alt="xxxxxx">  
        <img src="{{ asset('home_image.png') }}" alt="xxxxxx">  
        <img src="{{ asset('home_image.png') }}" alt="xxxxxx">  
        <img src="{{ asset('home_image.png') }}" alt="xxxxxxx">  
    </div>
    <a href="{{ path('app_home') }}">En savoir plus</a>
</section>

<section class="">
    <h2>Témoignages</h2>
    <div class="">
        <div class="">
            <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet amet tristique ipsum aliquam. Vulputate dolor, nunc phasellus vestibulum turpis posuere turpis eget vel.”</p>
            <div>
                <img src="{{ asset('logo.png') }}" alt="xxxxxx">
                <div>
                    <h5>Lorem Ipsum</h5>
                    <p>Facebook</p>
                </div>
            </div>
        </div>

        <div class="">
            <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet amet tristique ipsum aliquam. Vulputate dolor, nunc phasellus vestibulum turpis posuere turpis eget vel.”</p>
            <div>
                <img src="{{ asset('logo.png') }}" alt="xxxxxx">
                <div>
                    <h5>Lorem Ipsum</h5>
                    <p>Twitter</p>
                </div>
            </div>
        </div>

        <div class="">
            <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet amet tristique ipsum aliquam. Vulputate dolor, nunc phasellus vestibulum turpis posuere turpis eget vel.”</p>
            <div>
                <img src="{{ asset('logo.png') }}" alt="xxxxxx">
                <div>
                    <h5>Lorem Ipsum</h5>
                    <p>Dribbble</p>
                </div>
            </div>
        </div>

        <div class="">
            <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet amet tristique ipsum aliquam. Vulputate dolor, nunc phasellus vestibulum turpis posuere turpis eget vel.”</p>
            <div>
                <img src="{{ asset('logo.png') }}" alt="xxxxxx">
                <div>
                    <h5>Lorem Ipsum</h5>
                    <p>Pinterest</p>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>

{% include 'footer/footer.html.twig' %}
