{% extends 'base.html.twig' %}

{% block body %}
    <div style="margin-bottom: 45px; margin-top: 80px; text-align: center">
        <h3>Lot N° {{ app.request.get('idLot') }}</h3>
        <h1>{{ vente.nom }}</h1>
        {% if vente.dateVente|date('Y-m-d') < "now"|date("Y-m-d") %}
            <span class="uk-text-bold" style="color: red;">Vente fermée</span>
        {% endif %}
    </div>

    <div class="uk-flex uk-flex-center uk-flex-middle" style="margin-bottom: 60px">
        <img src="" style="max-width: 400px; max-height: 400px; border-radius: 8px;" />
    </div>

    <div style="margin-bottom: 10%">
        <div class="uk-container">

            <!-- Afficher les informations du lot -->
            {% if cheval is defined %}
                <table class="uk-table uk-table-striped">
                    <thead>
                    <tr>
                        <th>Prix de départ</th>
                        <th>Nom cheval</th>
                        <th>Sexe</th>
                        <th>NumSire</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="font-weight: bold">{{ lot.prixDepart }} €</td>
                        <td>{{ cheval.nom }}</td>
                        <td>{{ cheval.sexe }}</td>
                        <td>{{ cheval.numSire }}</td>
                    </tr>
                    </tbody>
                </table>

                <table class="uk-table uk-table-striped" style="margin-top: 5%">
                    <thead>
                    <tr>
                        <th>Lieu de vente</th>
                        <th>Nombres de boxes</th>
                        <th>Commentaires</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ lieuVente.libelle }} </td>
                        <td style="text-align: center">{{ lieuVente.nbrBoxes }} </td>
                        <td>{{ lieuVente.commentaires }} </td>
                    </tr>
                    </tbody>
                </table>

                <table class="uk-table uk-table-striped" style="margin-top: 5%">
                    <thead>
                    <tr>
                        <th>Type de cheval</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ categorieLot.libelle }} </td>
                        <td>{{ categorieLot.description }}</td>
                    </tr>
                    </tbody>
                </table>
            {% endif %}

            {% if vente.dateVente|date('Y-m-d') >= "now"|date("Y-m-d") %}
            <div class="uk-flex uk-flex-center uk-flex-middle" style="margin-top: 10%;">
              <a href="#"><p class="uk-text-bold uk-text-primary">Faire une enchère</p></a>
            </div>
            {% endif %}

        </div>
    </div>

{% endblock %}