
</body>
<!-- Footer -->
<footer class="footer">
    <div class="">
        <div class="">
            <p>Email me at</p>
            <p>contact@website.com</p>
        </div>
        <div>
            <h3>On en parle !</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna morbi massa dictum tristique convallis pretium eleifend habitant. Libero a arcu purus, elit, volutpat in nunc amet. Fermentum risus vel dolor id scelerisque senectus et, id nunc. Consectetur metus tristique ullamcorper semper purus massa eget urna.</p>
            <div class="">
                <a href="www.x.com"> <img src="{{ asset('twitter.svg') }}" alt="twitter"></a>
                <a href="www.linkedin.com"> <img src="{{ asset('linkedin.svg') }}" alt="linkedin"></a>
                <a href="www.instagram.com"> <img src="{{ asset('instagram.svg') }}" alt="instagram"> </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="">
        <div class="">                
            <a href="{{ path('app_home') }}">A propos</a>
            <a href="{{ path('app_home') }}">Services</a>
            <a href="{{ path('app_home') }}">Prix</a>
            <a href="{{ path('app_home') }}">Contactez nous</a>
        </div>
        <div class="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
</footer>
