
</body>
<!-- Footer -->
<footer class="footer py-5" style="color: #1C1C1C; padding-bottom: 60px;">
    <div class="container">
        <div class="row mb-5">
            <!-- Left Column: Contact Info -->
            <div class="col-md-4">
                <p>Email me at</p>
                <p class="fw-bold">contact@parentwatcher.com</p>
            </div>

            <!-- Right Column: Social and Description -->
            <div class="col-md-8">
                <h3 class="fw-bold">On en parle !</h3>
                <p>Besoin de plus d'informations ou avez-vous une question ? Contactez-nous pour discuter de la meilleure façon de protéger vos enfants en ligne avec Parent Watcher.</p>
                <div class="d-flex align-items-center">
                    <a href="https://www.twitter.com" class="me-5">
                        <img src="{{ asset('twitter.svg') }}" alt="Twitter" style="width: 30px;">
                    </a>
                    <a href="https://www.linkedin.com" class="me-5">
                        <img src="{{ asset('linkedin.svg') }}" alt="LinkedIn" style="width: 30px;">
                    </a>
                    <a href="https://www.instagram.com" >
                        <img src="{{ asset('instagram.svg') }}" alt="Instagram" style="width: 30px;">
                    </a>
                </div>
            </div>
        </div>

        <hr style="width: 100%">

        <div class="row pt-4">
            <div class="col-md-6 mb-3 mb-md-0">
                <a href="{{ path('app_home') }}" class="me-4">A propos</a>
                <a href="{{ path('app_home') }}" class="me-4">Services</a>
                <a href="{{ path('app_home') }}" class="me-4">Prix</a>
                <a href="{{ path('app_home') }}" class="me-4">Contactez nous</a>
            </div>
            <div class="col-md-6 text-md-end">
                <p class="mb-0">Protéger les enfants en ligne, un réseau social à la fois.</p>
            </div>
        </div>
    </div>
</footer>